* {  margin: 0;  padding: 0; }
a ,a:visited,a:link,a:hover {text-decoration: none; color: #000000;}
img {border: 0;}
body{background-image:url(../IMAGENES/fondo.PNG)}

	#principal
	{
		/*background-color: red;*/
		margin: auto;
		width: 1366px;
		height: 653px
	}
		#header
		{
			/*background-color: blue;*/
			position: relative;
			left: 120px;
			width: 1266px;
			height: 100px;		
		}
			.cabecera
			{
				top: 100px;
				text-align: center;
			}
		#header2
		{
			background-color: green;	
			margin-top: -100px;
			width: 120px;
			height: 100px;
		}
		#wrapper
		{
			background-color: black;
			position: relative;
			float: top;
			width: 1366px;
			height: 673px;
		}
			#menu
			{
				background-color: #3333ff;
				position: relative;
				float: left;
				width: 120px;
				height: 673px;
				font-family: Arial;
			}
				.lista1 li a
				{
					background-color: #3333ff;
					color: #fff;
					width: 100px;
					padding: 10px 10px;
					display: block;
				}
				.lista1 li a:hover
				{
					background-color: #434343;
				}
			#contenido
			{
				background-color: white;
				position: relative;
				left: 120px;
				width: 1266px;
				height: 673px;
			}
		#footer
		{
			/*background-color: green;*/
			float: left;
			top: 200px;
			width: 1366px;
			height: 20px;		
		}